language: go
go:
  - 1.7
  - tip

env:
  global:
    - PATH=$PATH:$GOPATH/bin
    - RELEASES_PATH=/tmp/releases

script:
  - go test -v

before_deploy:
  - go get github.com/laher/goxc
  - goxc -tasks 'xc archive' -bc 'windows darwin linux' -d "$RELEASES_PATH" -resources-include 'README*'

deploy:
  provider: releases
  api_key:
    secure: XYQhZjydcWxyIMCMw9bk8tKH+6AIbObElky8RiUl+zuTu3RKgU5K3FkwOreOaQsDWgrwSWoqzx/K5qED86z9oRBLbzrf5uv08zqw2vV1GEP5ZoszO688wVhvSHsagW+rstiOWO8n0GXN8552jZtycnaITcBw0ph3PuqbtZmTk83tX1J4yaz3OjJYd/L9cBrry5njqnOr1uvEJ3QKF9KDQyii4rIAotmknItfNHM7XlQrTQ9Uq+fblfpRHoGXmXUlGIgRY+NX6m4YxGoVL50P4SJtmxirxo5dQaPOGnNR5vWS0vCdl21sN072tWnK8LLowI+YdfthqN+zS2ceKz5E2iYkZABh1dbdZmdw1+aEvuttjFOt8Uz0NaIgxM2olelcnTMkvEXIAqjIrAliAEt7LzZJK+/VEJu3H8v/V8FM97fjTYuDLDlEykgaML17ZgV4YgccWR+eyE5atcFZ212A2FWoXIs4p5Zy/1DVyurdxfTbu3gxmwIXa5KV1IKvKHp6o7sKQ+NWip8086x99vDjo4WVjOIwblB+Pr5HMMdHTUfIrSEMB2WfJKH0m+nGq7I421XZiN07cQn7UlgRW320YjrEkni6qzpyNomhAJxki7jIXILDQ8JareZWTMDMnZ9DDOGAvNv6XemKgmmIX2zbiQWXCb+8ytwK+UcJhgfNbbw=
  file:
    - $RELEASES_PATH/snapshot/alita_windows_386.zip
    - $RELEASES_PATH/snapshot/alita_windows_amd64.zip
    - $RELEASES_PATH/snapshot/alita_darwin_386.zip
    - $RELEASES_PATH/snapshot/alita_darwin_amd64.zip
    - $RELEASES_PATH/snapshot/alita_linux_386.tar.gz
    - $RELEASES_PATH/snapshot/alita_linux_amd64.tar.gz
    - $RELEASES_PATH/snapshot/alita_linux_arm.tar.gz
  on:
    repo: kusabashira/alita
    tags: true
